body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30px; 
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header img {
    height: 35px; 
}

.header_list a {
    color: white;
    margin: 0 8px;
    text-decoration: none;
    font-size: 10px; 
    margin-right: 50px;
}

/* Герой-блок */
.hero {
    height: 100vh; 
    position: relative;
    display: flex;
    align-items: center;     
    justify-content: flex-start; 
    color: white;
    text-align: left;       
    padding-left: 60px;     
}

.imageback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px; 
}

.hero-content h1 {
    font-size: 1.8rem; 
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Кнопки */
.buttons {
    margin-top: 15px;
}

.blue-btn {
    background: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
}

.transparent-btn {
    background: transparent;
    color: white;
    padding: 8px 16px;
    border: 1.5px solid white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
}

/* Секция */
.glc-section {
  padding: 56px var(--page-padding);
  box-sizing: border-box;
  color: #111;
  background: #fff;
}

.glc-hero h1 {
  font-size: clamp(22px, 3.6vw, 44px);
  line-height: 1.06;
  margin: 0 0 16px 0;
  font-weight: 600;
  max-width: 1300px;
}

.glc-hero .subtitle {
  margin: 0 0 34px 0;
  color: #656565;
  max-width: 850px;
  font-size: 15px;
  line-height: 1.6;
}


.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.nav button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 60px;   
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 30px;
}


.cars {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.car {
  text-align: center;
  max-width: 300px;
}

.car img {
  width: 100%;
  height: auto;
}

.car h3 {
  margin: 20px 0 10px;
  font-size: 20px;
}

.car a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

.car a:hover {
  text-decoration: underline;
}
